/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>

#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/zmk/pointing.h>

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

// layers
#define DEFAULT 0
#define SYM 1
#define NUM 2
#define NAV 3
#define ADJ 4
#define LNM 5
#define LBK 6
#define RBK 7

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms    = <200>; // hit within this time to trigger repeat
};

&sl {
    release-after-ms = <2000>;
};

&caps_word {
  continue-list = <UNDERSCORE MINUS>;
};
/ {
    input_processors {
        zip_click_to_right_click_mapper: zip_click_to_right_click_mapper {
            compatible = "zmk,input-processor-code-mapper";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            map = <INPUT_BTN_0 INPUT_BTN_1>;
        };
    };

  combos {
    compatible = "zmk,combos";
    // -----------------------------------------------------------------------------------------
    // |  0  |  1  |  2  |  3  |  4  |  5  |                    |  6  |  7   |  8  |  9  |  10  | 11 |
    // |  12 |  Q  |  W  |  E  |  R  |  T  |                    |  18  |  U   |  I  |  O  |  P  | BKSP |
    // |  24 |  A  |  S  |  D  |  F  |  G  |                    |  30  |  J   |  K  |  L  |  ;  |  '   |
    // |  36 |  Z  |  X  |  C  |  V  |  B  |                    |  42  |  M   |  ,  |  .  |  /  | ESC  |
    //             48 | 49 | 50 | 51 | 52 | 53              54 | 55 | 56 | 57 | 58 | 59
    left_combo_esc {
      timeout-ms = <30>;
      key-positions = <26 27 28>;
      layers = <DEFAULT>;
      bindings = <&kp ESC>;
    };
    left_combo_lbrack {
      timeout-ms = <30>;
      key-positions = <26 27>;
      layers = <DEFAULT>;
      bindings = <&mo RBK>;
    };
    right_combo_esc {
      timeout-ms = <30>;
      key-positions = <31 32 33>;
      layers = <DEFAULT>;
      bindings = <&kp ESC>;
    };

    right_combo_rbracks {
      timeout-ms = <30>;
      key-positions = <32 33>;
      layers = <DEFAULT>;
      bindings = <&mo LBK>;
    };

    right_alt_bspc {
      timeout-ms = <30>;
      key-positions = <20 21>;
      layers = <DEFAULT>;
      bindings = <&kp LA(BSPC)>;
    };

    right_ctrl_bspc {
      timeout-ms = <30>;
      key-positions = <21 22>;
      layers = <DEFAULT>;
      bindings = <&kp LC(BSPC)>;
    };

    right_enter {
      timeout-ms = <20>;
      key-positions = <30 31>;
      layers = <DEFAULT>;
      bindings = <&kp RET>;
    };

    left_tab {
      timeout-ms = <30>;
      key-positions = <38 39>;
      layers = <DEFAULT>;
      bindings = <&kp TAB>;
    };

    right_tab {
      timeout-ms = <30>;
      key-positions = <46 47>;
      layers = <DEFAULT>;
      bindings = <&kp TAB>;
    };

    left_slash {
      timeout-ms = <35>;
      key-positions = <14 15>;
      layers = <DEFAULT>;
      bindings = <&kp FSLH>;
    };

    up_dir {
      timeout-ms = <40>;
      key-positions = <45 46 47>;
      layers = <DEFAULT>;
      bindings = <&updir>;
    };

    homedir {
      timeout-ms = <30>;
      layers = <SYM>;
      key-positions = <13 14>;
      bindings = <&homedir>;
    };
  };
    behaviors {
        magic: magic {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };
       bt_0: bt_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_0>, <&bt BT_DISC 0>;
        };
        bt_1: bt_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_1>, <&bt BT_DISC 1>;
        };
        bt_2: bt_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_2>, <&bt BT_DISC 2>;
        };
        bt_3: bt_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_3>, <&bt BT_DISC 3>;
        };
        guitil: guitil {
            compatible = "zmk,behavior-tri-state";
            #binding-cells = <0>;
            bindings = <&kt LGUI>, <&kp TILDE>, <&kt LGUI>;
        };
        guitab: guitab {
            compatible = "zmk,behavior-tri-state";
            #binding-cells = <0>;
            bindings = <&kt LGUI>, <&kp TAB>, <&kt LGUI>;
        };
        code: codegrave {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&code_key>, <&kp>;
        };
        hmlt: homerow_layer_left_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <50>;
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            bindings = <&mo>, <&kp>;
            // include pretty much every key but the middle row
            hold-trigger-key-positions = < /*top row*/ 0 1 2 3 4 5 6 7 8 9 10 11 /*2nd row*/ 12 13 14 15 16 17 18 19 20 21 22 23 /* homerow 24 25 26 27 28 29 */ 30 31 32 33 34 35 /*bottom*/ 36 37 38 39 40 41 42 43 44 45 46 47 /* thumbs */ 48 49 50 51 52 53 54 55 /*56*/ 57 58 59  /*thumbs except backspace   */ >; 
            hold-trigger-on-release;
        };
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                flavor = "balanced";
                require-prior-idle-ms = <80>;
                tapping-term-ms = <250>;
                quick-tap-ms = <200>;
                bindings = <&kp>, <&kp>;
                // include pretty much every key but the middle row
                hold-trigger-key-positions = < /*top row*/ 0 1 2 3 4 5 6 7 8 9 10 11 /*2nd row*/ 12 13 14 15 16 17 18 19 20 21 22 23 /* homerow 24 25 26 27 28 29 */ 30 31 32 33 34 35 /*bottom*/ 36 37 38 39 40 41 42 43 44 45 46 47 /* thumbs */ 48 49 50 51 52 53 54 55  /*56*/ 57 58 59  /*thumbs except backspace   */ >; 
                hold-trigger-on-release;
        };
        hmrt: homerow_mods_right_tap {
            compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                flavor = "balanced";
                require-prior-idle-ms = <50>;
                tapping-term-ms = <250>;
                quick-tap-ms = <200>;
                bindings = <&mo>, <&kp>;
                // include pretty much every key but the middle row
                hold-trigger-key-positions = < /*top row*/ 0 1 2 3 4 5 6 7 8 9 10 11 /*2nd row*/ 12 13 14 15 16 17 18 19 20 21 22 23 /* homerow 30 31 32 33 34 35 */ 24 25 26 27 28 29  /*bottom*/ 36 37 38 39 40 41 42 43 44 45 46 47 /* thumbs */ 48 49 50 51 52 53 54 55  /*56*/57 58 59  /*thumbs except backspace */ >; 
                hold-trigger-on-release;
        };
        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                flavor = "balanced";
                require-prior-idle-ms = <80>;
                tapping-term-ms = <250>;
                quick-tap-ms = <200>;
                bindings = <&kp>, <&kp>;
                // include pretty much every key but the middle row
                hold-trigger-key-positions = < /*top row*/ 0 1 2 3 4 5 6 7 8 9 10 11 /*2nd row*/ 12 13 14 15 16 17 18 19 20 21 22 23 /* homerow 30 31 32 33 34 35 */ 24 25 26 27 28 29  /*bottom*/ 36 37 38 39 40 41 42 43 44 45 46 47 /* thumbs */ 48 49 50 51 52 53 54 55 /*56*/ 57 58 59  /*thumbs except backspace  */ >; 
                hold-trigger-on-release;
        };
        // quick release sticky key so shift only applies to one key
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <2000>;
            quick-release;
            ignore-modifiers;
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_STATUS>;
        };

        bt_select_0: bt_select_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };
        bt_select_1: bt_select_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };
        bt_select_2: bt_select_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };
        bt_select_3: bt_select_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
        ZMK_MACRO(code_key, 
        bindings
            = <&kp GRAVE &kp GRAVE &kp GRAVE>;
        )
        ZMK_MACRO(updir, 
        bindings
            = <&kp DOT &kp DOT &kp FSLH>;
        )
        ZMK_MACRO(homedir, 
        bindings
            = <&kp TILDE &kp FSLH>;
        )

        ZMK_MACRO(pars,
        bindings
            = <&kp LPAR &kp RPAR &kp LEFT>;
        )

        ZMK_MACRO(brack,
        bindings
            = <&kp LBKT &kp RBKT &kp LEFT>;
        )

        ZMK_MACRO(curl,
        bindings
            = <&kp LBRC &kp RBRC &kp LEFT>;
        )
    };

    keymap {
        compatible = "zmk,keymap";
        DEFAULT {
            bindings = <
            &lt ADJ ESC  &kp N1      &kp N2       &kp N3       &kp N4        &kp N5                                 &kp N6 &kp N7       &kp N8          &kp N9        &kp N0           &lt ADJ DEL
            &kp TAB      &hmlt RBK Q &lt   NAV W  &lt NUM F    &kp  P        &kp B            /**/                  &kp J  &kp  L       &hmrt LNM U     &kp Y         &lt LBK MINUS   &kp BSPC
            &sl SYM      &kp A       &hmlt NAV R  &hml LCTRL S &hml LGUI T   &kp G            /**/                  &kp M  &hmr RGUI N  &hmr RCTRL E    &hmrt SYM I   &kp O    &kp SQT
            &caps_word   &hml LGUI Z &hml LCTRL X &hml LALT C  &hml LSHFT D  &kp V            /**/                  &kp K  &hmr RSHFT H &hmr LALT COMMA &hmr RCTRL DOT &hmr RGUI FSLH  &caps_word
                               &magic ADJ 0 &kp C_VOL_UP &kp DEL                                                                      &pars &brack &curl
                                                            &sl SYM &lt SYM BSPC &lt NUM RET     &skq LSHFT &lt SYM SPC &sl SYM
            >;
        };

        sym_layer {
            bindings = <
            &lt ADJ ESC  &kp N1 &kp N2       &kp N3       &kp N4        &kp N5                                 &kp N6    &kp N7     &kp N8    &kp N9    &kp N0           &lt ADJ BSPC
            &kp TILDE &kp BSLH  &kp FSLH      &kp COLON   &kp PLUS  &code 0 GRAVE                              &kp BSLH &kp AMPS  &kp STAR    &kp QMARK &kp BSLH &trans
            &trans    &kp AT    &kp PRCNT    &lt RBK EXCL &kp EQUAL &kp PIPE                                   &kp HASH &kp EQUAL &lt LBK DQT &kp UNDER &kp SEMI &trans
            &trans    &kp HASH  &kp MINUS     &kp LT      &kp GT    &kp EQUAL                                  &kp PIPE &kp CARET &kp DLLR  &trans    &trans &trans
                            &none     &trans     &trans                                                                        &trans  &trans      &trans
                                                        &kp COLON  &trans  &trans              &trans  &trans  &kp COLON
            >;
        };

        num_layer {
            bindings = <
            &lt ADJ ESC  &kp N1 &kp N2       &kp N3       &kp N4        &kp N5                                 &kp N6    &kp N7     &kp N8    &kp N9    &kp N0           &lt ADJ BSPC
            &trans &trans   &sk LG(LCTRL) &trans    &trans    &trans                                     &trans   &kp N7   &kp N8 &kp N9 &trans    &trans
            &trans &trans   &sk LALT      &sk LCTRL &sk LGUI  &sk LS(LG(LC(LALT)))                       &kp LBKT &kp N4   &kp N5 &kp N6 &kp COLON &trans
            &trans &trans   &kp LBKT      &kp RBKT  &sk LSHFT &trans                                     &kp RBKT &kp N1   &kp N2 &kp N3 &kp FSLH  &trans
                            &none     &trans     &trans                                                                        &trans  &trans      &trans
                                                        &trans  &hml LSHFT BSPC &kp DOT        &trans &hmr LSHFT N0 &kp SPC 
            >;
        };

        navi_layer {
            bindings = <
            &lt ADJ ESC  &kp N1 &kp N2       &kp N3       &kp N4        &kp N5                                 &kp N6    &kp N7     &kp N8    &kp N9    &kp N0           &lt ADJ BSPC
            &trans &trans   &trans    &sk LALT  &trans    &trans                                        &trans &kp PG_UP   &kp LS(LC(TAB))    &kp LC(TAB) &guitab   &guitil
            &trans &trans   &sk LALT  &sk LCTRL &sk LGUI  &sk LS(LG(LC(LALT)))                          &trans &kp LEFT    &kp DOWN           &kp UP      &kp RIGHT &trans 
            &trans &trans   &trans    &sk LALT  &sk LSHFT  &trans                                       &trans &kp PG_DN   &kp HOME           &kp END     &trans    &trans 
                                &trans &trans &trans                                                             &trans &trans &trans  
                                                &trans &hml LSHFT BSPC &trans              &trans &hmr RCTRL RET &trans
            >;
        };

        adjust_layer {
            bindings = <
            &none       &bt_0            &bt_1            &bt_2            &bt_3     &bootloader                                     &bootloader       &none         &none   &none  &none     &none
            &bootloader &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                     &bt BT_CLR     &kp C_BRI_DN  &kp C_BRI_UP   &kp C_PREV    &kp C_NEXT   &kp C_PP
            &sys_reset  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                     &bt BT_CLR_ALL &kp C_VOL_DN  &kp C_MUTE   &kp C_VOL_UP   &none  &sys_reset
                &none            &none            &none            &none            &none            &none                                     &none       &none         &none   &none  &none     &none
                                  &out OUT_USB            &none            &none                                                                    &none         &none   &none
                                                                                            &none   &none   &none     &none   &none   &none
            >;
        };
        lnum_layer {
            bindings = <
            &trans    &trans  &trans  &trans  &trans     &trans                                  &trans    &trans  &trans  &trans  &trans     &trans
            &trans  &trans   &kp N7       &kp N8    &kp N9    &trans                                  &trans    &trans  &trans  &trans  &trans     &trans
            &trans  &trans   &kp N1       &kp N2    &kp N3    &trans                                  &sk LS(LG(LC(LALT)))    &sk RGUI  &sk RCTRL  &sk LALT  &trans     &trans
            &trans  &trans   &kp N4       &kp N5    &kp N6    &trans                                  &trans    &sk RSHFT  &trans  &trans  &trans     &trans
                        &trans &trans &trans &trans &trans &kp N0                                       &trans &trans &trans &trans &trans &trans
            >;
        };
        lbrk {
            bindings = <
            &trans    &trans  &trans  &trans  &trans   &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
            &trans  &trans  &kp LBRC  &kp RBRC &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
            &trans  &trans  &kp LPAR  &kp RPAR &trans  &trans                                  &trans  &trans  &trans  &trans  &trans  &trans
            &trans  &trans  &kp LBKT  &kp RBKT &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                            &trans &trans &trans &trans &trans &trans                  &trans &trans &trans &trans &trans &trans
            >;
        };
        rbrk {
            bindings = <
            &trans  &trans  &trans  &trans  &trans &trans                                  &trans  &trans  &trans    &trans    &trans  &trans
            &trans  &trans  &trans  &trans &trans  &trans                                  &trans  &trans  &kp LBRC  &kp RBRC  &trans  &trans
            &trans  &trans  &trans  &trans &trans  &trans                                  &trans  &trans  &kp LPAR  &kp RPAR  &trans  &trans
            &trans  &trans  &trans  &trans &trans  &trans                                  &trans  &trans  &kp LBKT  &kp RBKT  &trans  &trans
                            &trans &trans &trans &trans &trans &trans                &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};

&cirque_rh_listener {
    input-processors = <&zip_xy_scaler 3 1>;
    layer_2 {
        layers = <2>;
        input-processors = <&zip_xy_scaler 9 1>;
    };
};

&cirque_lh_listener {
    input-processors = <&zip_xy_to_scroll_mapper>, <&zip_xy_scaler 1 8>, <&zip_click_to_right_click_mapper>;
    layer_4 {
        layers = <4>;
        input-processors = <&zip_xy_scaler 3 1>;
    };
};
